* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}
.parent {
  background-color: blueviolet;
  height: 1000px;
  display: flex;
}


.parent div{
  height: 200px;
  width: 200px;
  background-color: white;
  margin: 10px;
}